<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1254.v3f64639b_11dd">
  <actions/>
  <description>my 1st scripted pipeline</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3536.vb_8a_6628079d5">
    <script>node(&apos;build_maventomcat&apos;){
    stage (&apos;Example&apos;){
        sh &quot;pwd&quot;
        sh &quot;ls&quot;
    }
}
node(&apos;master&apos;){
    stage (&apos;Example&apos;){
        sh &quot;pwd&quot;
        sh &quot;echo Jnana Swaroop K R&quot;
        sh &quot;ls&quot;
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>